<!DOCTYPE html>
<html dir="ltr" lang="ru-RU">
	<head>
		{% include "../block/common/head/head.twig" with {
			title:"РК-ПРЕМИКС",
			style:[
				{name: css.style}
			],
		}  %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

	</head>
	<body>
		<div class="swiper">
			<div class="swiper-wrapper">
				{% include "../block/page/header.twig" with {
					prefix:     'header',
					title:      'РК-ПРЕМИКС',
					text:      	'Завод по&nbsp;выпуску кормовых добавок и&nbsp;витаминно-минерального комплекса для животноводства',
					img:				'header'
				}%}
				{% include "../block/page/content.twig" with {
					prefix:     'about',
					theme:			'light',
					before:			'true',
					img:				'about',
					img_type:		'jpg',
					step:      	'<strong>01</strong>&nbsp;&nbsp;/&nbsp;&nbsp;05',
					title:      'О нас',
					text:      	'ГК&nbsp;«РегионКорма»&nbsp;— команда прогрессивных специалистов, которые разрабатывают оптимальные решения в&nbsp;области животноводства, соединяя генетический потенциал с&nbsp;менеджментом кормления.<br/><br/> В&nbsp;2023 году запущен высокотехнологичный производственно-складской комплекс РК-ПРЕМИКС, соответствующий высоким стандартам качества.',
					btn: 				'Подробнее о премиксах',
					btn_slideto: 		'4',
				}%}
				{% include "../block/page/content.twig" with {
					prefix:     'manufacture',
					theme:			'light',
					before:			'true',
					img:				'manufacture',
					img_type:		'png',
					step:      	'<strong>02</strong>&nbsp;&nbsp;/&nbsp;&nbsp;05',
					title:      'О производстве',
					text:      	'<ul><li>Современное оборудование</li><li>Оптимальный производственный процесс</li><li>Автоматизированная система управления</li></ul><ul><li>Гомогенность смесителя 1:100&nbsp;000</li><li>Многокомпонентное производство</li><li>Собственная лаборатория</li></ul><ul><li>Система контроля качества на&nbsp;всех этапах</li><li>мощность 20&nbsp;тыс. тонн премиксов в&nbsp;год</li><li>ГОСТ Р&nbsp;ИСО 9001/ISO 9001</li></ul>'
				}%}
				{% include "../block/page/content.twig" with {
					prefix:     'products',
					theme:			'dark',
					before:			'true',
					img:				'products',
					img_type:		'jpg',
					step:      	'<strong>03</strong>&nbsp;&nbsp;/&nbsp;&nbsp;05',
					title:      'О продукции',
					text:      	'<p>Производственные возможности РК-ПРЕМИКС направлены на&nbsp;выработку витаминно-минеральных кормовых смесей (ВМКС) и&nbsp;белково-витаминных минеральных концентратов (БВМК). </p>
						<ul>
							<li>индивидуальная формула продукта для каждой фермы</li>
							<li>использование хелатных форм&nbsp;микроэлементов</li>
							<li>использование кормовых ингредиентов от&nbsp;мировых лидеров</li>
							<li>строгий контроль качества на&nbsp;всех&nbsp;этапах</li>
							<li>отслеживание изменений на&nbsp;ферме и&nbsp;быстрая корректировка состава</li>
							<li>Премиальное качество выпускаемой продукции</li>
						</ul>
						 <p>Рецепт производимого продукта может в&nbsp;себя включать: витамины; защищенные витамины; защищенные аминокислоты; защищенный гепатопротектор; защищенные анионные соли; дрожжи; адсорбенты микотоксинов; макроэлементы; органические и&nbsp;неорганические микроэлементы; иные специальные продукты.</p>'
				}%}
				{% include "../block/page/content.twig" with {
					prefix:     'list',
					theme:			'light',
					before:			'true',
					img:				'',
					step:      	'<strong>04</strong>&nbsp;&nbsp;/&nbsp;&nbsp;05',
					title:      'Линейка премиксов',
					text:      	'
					<h3 data-theme="purple"><span>BMKC ECO</span></h3>
					<ul data-theme="purple">
						<li data-icon="pointer"><span></span>Обеспечение основной потребности продуктивных животных в&nbsp;витаминах и&nbsp;минералах</li>
						<li data-icon="pig"><span></span>Экономически выгодные решения, на&nbsp;основе современных научных и&nbsp;практических рекомендаций сбалансированного кормления</li>
						<li data-icon="structure"><span></span>Микроэлементы Se, Zn, Cu, Mn&nbsp;представлены в&nbsp;неорганических формах</li>
						<li data-icon="weight"><span></span>Оптимально подходит для продуктивности до&nbsp;8000&nbsp;кг.</li>
					</ul>
					<h3 data-theme="green"><span>Live cow bio</span></h3>
					<ul data-theme="green">
						<li data-icon="cow"><span></span>Восполнение биологических потребностей для улучшения физиологического состояния</li>
						<li data-icon="molecule"><span></span>Функциональный состав, позволяющий изменять технологические показатели производства</li>
						<li data-icon="structure"><span></span>Микроэлементы используются в&nbsp;органических хелатных формах. Увеличено содержание витамина Е. В&nbsp;состав включен биотин</li>
						<li data-icon="weight"><span></span>Используется при продуктивности 8000&nbsp;— 10&nbsp;000&nbsp;кг.</li>
					</ul>
					<h3 data-theme="orange"><span>Live cow pro</span></h3>
					<ul data-theme="orange">
						<li data-icon="molecule"><span></span>Специальные составы комплексов для гарантированного обеспечения производственного цикла в&nbsp;условиях современных технологий</li>
						<li data-icon="cow"><span></span>Профилактика метаболических заболеваний и&nbsp;улучшения обменных процессов</li>
						<li data-icon="pointer"><span></span>В&nbsp;составе специальные активные вещества, высокий уровень витаминов, хелатные формы микроэлементов, гепатопротектор</li>
						<li data-icon="weight"><span></span>Используется при продуктивности 9000&nbsp;— 14&nbsp;000&nbsp;кг.</li>
					</ul>
					<ol>
						<li>
							<div>Heifer mineral 0-6</div>
							Премиксы для молодняка до&nbsp;6&nbsp;месяцев
						</li>
						<li>
							<div>Heifer mineral 6+</div>
							Премиксы для молодняка старше 6&nbsp;месяцев
						</li>
						<li>
							<div>dry mineral</div>
							Премиксы для сухостойных коров и&nbsp;нетелей за&nbsp;2&nbsp;месяца до&nbsp;отела
						</li>
						<li>
							<div>dairy mineral</div>
							Премиксы для лактирующих&nbsp;коров
						</li>
					</ol>
					'
				}%}
				{% include "../block/page/content.twig" with {
					prefix:     'contacts',
					theme:			'dark',
					img:				'contacts',
					before:			'true',
					img_type:		'jpg',
					step:      	'<strong>05</strong>&nbsp;&nbsp;/&nbsp;&nbsp;05',
					title:      'Контакты',
					text:      	'
					<div><a href="tel:+74864659989">+7 (486) 465-99-89</a></div>
					<div><a href="mailto:info@rkpremix.ru">info@rkpremix.ru</a></div>
					<div class="address"><a>302026, Орловская обл, м.р-н Мценский, с.п. Подмокринское, п&nbsp;Воля, Магистральная&nbsp;ул, зд. 2Г, корпус&nbsp;1</a></div>
					',
					footer:			'true'
				}%}
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-scrollbar"></div>
			<div class="swiper-header">
				<button class="swiper-header__logo js-swiper-btn" type="button" data-slideto="0"></button>
				<button class="swiper-header__humb js-swiper-humb" type="button"></button>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script>
		;(function (window, document, undefined) {
			const paginationSlider = document.querySelector('.swiper-pagination');
			const humb = document.querySelector('.js-swiper-humb');
			const sliderButtons = document.querySelectorAll('.js-swiper-btn');

			const slider = new Swiper(".swiper", {
				direction: "vertical",
				slidesPerView: "auto",
				freeMode: true,
				mousewheel: true,
				sensitivity: 100,
				speed: 900,
				spaceBetween: 0,
				scrollbar: {
					el: ".swiper-scrollbar",
					draggable: true,
				},
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
					renderBullet: function (index, className) {
						let slide = this.slides[index];
						return '<span class="' + className + '">' + slide.dataset.label + '</span>';
					},
				},
				on: {
					init: function () {
						const activeSlide = this.slides[this.activeIndex];
						activeSlide.classList.add('visit');
					},

					slideChange: function () {
						const activeSlide = this.slides[this.activeIndex];
						activeSlide.classList.add('visit');

						if (this.activeIndex > 0) {
							paginationSlider.classList.add('fixed');
						} else {
							paginationSlider.classList.remove('fixed');
						}
					}
				},
				breakpoints: {
					0: {
						allowTouchMove: true
					},
					1025: {
						allowTouchMove: false
					}
				}
			});

			humb ? humb.addEventListener('click', openPagination) : '';

			document.addEventListener('click', closeFilterTarget);

			slider.on('slideChange', сhangeTheme);

			goToSlide(sliderButtons);

			function сhangeTheme() {
				const currentSlide = slider.slides[slider.activeIndex];
				if (!currentSlide) return;
				const theme = currentSlide.dataset.theme;
				if (theme === 'light') {
					document.body.classList.remove('dark');
					document.body.classList.add('light');
				} else if (theme === 'dark') {
					document.body.classList.remove('light');
					document.body.classList.add('dark');
				}

			}

			function openPagination() {
				paginationSlider.classList.toggle('open');
				humb.classList.toggle('open');
			}
			function closePagination() {
				paginationSlider.classList.remove('open');
				humb.classList.remove('open');
			}
			function closeFilterTarget(e) {
				!e.target.closest('.js-swiper-humb') ? closePagination() : '';
			}

			function goToSlide (buttons) {
				if (!buttons.length) return;
				buttons.forEach((button) => {
					button.addEventListener('click',() => {
						let index = button.dataset.slideto;
						if (!index) return;
						slider.slideTo(index);
					})
				})
			}
		})(window, document, undefined);
	</script>
	</body>
</html>